@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background: #ffffff;
}
.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 200px;
  background: #f7f7f7;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

}
.user-pic{
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
}
.nav,
.nav .nav-links {
  display: flex;
  align-items:center;
}
.nav {
  justify-content: space-between;
}
a {
  color: #000000;
  text-decoration: none;
  font-family:cursive;
}
.nav .logo {
  font-size: 22px;
  font-weight: 500;
}
.nav .nav-links {
  column-gap: 25px;
  list-style: none;
}
form{
    column-gap: 25px;
}
.nav .nav-links a {
  transition: all 0.2s linear;
}
.nav.openSearch .nav-links a {
  opacity: 0;
  pointer-events: none;
}
nav .search-box{
display: flex;
height: 40px;
background: #e1e3e6;
width: 12%;
/* border: px solid rgba(212, 203, 203, 0.2); */
border-radius: 10px;
margin-left: 120px;
}
nav .search-box .search-data{
    height: 100%;
    width: 100%;
    padding: 0 10px;
    color: #000000;
    font-weight: 500;
    background: none;
    border: none;
    font-size: 17px;
}
nav .search-box button{
    padding: 0 10px;
    background: rgb(223, 22, 113);
    border: none;
    cursor: pointer;
    font-size: 17px;
    color: #fff;
    border-radius: 2px;
}

.nav .navOpenBtn,
.nav .navCloseBtn {
  display: none;
}

.inputfile {
    display: none;
}

.upload-btn {
    display: inline-block;
    background-color: rgb(223, 22, 113);
    color: #fff;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.upload-btn:hover {
    background-color: #0056b3;
}
nav .menu-icon,
nav .search-icon,
nav .cancel-icon{
    width: 40px;
    color: #000000;
    text-align: center;
    margin: 0 50px;
    font-size: 18px;
    cursor: pointer;
    display: none;
}
nav .menu-icon span,
nav .search-icon,
nav .cancel-icon{
    display: none;
}

.response{
    margin-top: 120px;
    text-align: center;
}
.email{
    height: 200px;
    /* background: transparent; */
    background-color: #fff;
    mix-blend-mode:multiply;
    opacity: .3;
}
.response h2{
    font-weight:bolder;
    font-size: 50px;
    font-family: sans-serif;
}
.response p{
    line-height: 3em;
    font-family:sans-serif;
    font-weight: 500;
}
/* responsive */
@media screen and (max-width: 1160px) {
  .nav {
    padding: 15px 100px;
  }
  .nav .search-box {
    right: 150px;
  }
}
@media screen and (max-width: 950px) {
  .nav {
    padding: 15px 50px;
  }
  .nav .search-box {
    right: 100px;
    max-width: 400px;
  }
}
@media screen and (max-width: 768px) {
  .nav .navOpenBtn,
  .nav .navCloseBtn {
    display: block;
  }
  .nav {
    padding: 15px 20px;
  }
  .nav .nav-links {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100%;
    max-width: 280px;
    width: 100%;
    padding-top: 100px;
    row-gap: 30px;
    flex-direction: column;
    background-color: #11101d;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease;
    z-index: 100;
  }
  .nav.openNav .nav-links {
    left: 0;
  }
  .nav .navOpenBtn {
    color: #fff;
    font-size: 20px;
    cursor: pointer;
  }
  .nav .navCloseBtn {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
  }
  .nav .search-box {
    top: calc(100% + 10px);
    max-width: calc(100% - 20px);
    right: 50%;
    transform: translateX(50%);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
}